<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
            {% if request.path == '/view_database' %} <!-- Check if the current path is '/view_database' -->
            <a href="/clear_database">Clear Database</a> <!-- Only show the link when on '/view_database' -->
            <a href="/add_mock_data">Add Mock Data</a>
            <a href="/logout">Logout</a>
            {% endif %}
        </div>
        <div class="navbar-right">
            {% if request.path == '/' %} <!-- Check if the current path is not '/view_database' -->
            <a href="/view_database">View Database</a> <!-- Show the link when not on '/view_database' -->
            {% endif %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>