{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  <title>SITMS</title>

</head>

<body>
  <div class="nlp">
    <h1 style="color:black;" class="tracking-in-expand">IT Ticket Prediction</h1>


    <p class="text-focus-in"> Our NLP (Natural Language Processing) model has the capability to predict which SUNY New
      Paltz IT technician is the most
      suitable for a particular ticket based on the given problem description. This model streamlines the ticket
      resolution process, leading to faster response times and enhanced efficiency. </p>

    <form action="{{ url_for('predict')}}" method="post">
      <textarea style="border-radius: 10px;" name="description" placeholder="Try it! Describe Your Problem" rows="10"
        cols="50" required="required"></textarea>
      <button type="submit" id="playButton" class="btn btn-primary btn-block btn-large">Predict</button></p>
    </form>

    <br>
    <br>



    <h2 class="text-focus-in">
      {{ prediction_text }} </h2>




    <!------------------------------------------------------------------------------------------------------->



    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <!-- <script src="https://cdn.blobity.dev/by.js?autoStart&licenseKey=..."></script>
    <script src="https://cdn.blobity.dev/by.js"></script> -->
    <script>
      const options = {
        bottom: '64px', // default: '32px'
        right: '32px', // default: '32px'
        left: 'unset', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#fff', // default: '#fff'
        backgroundColor: '#F6E1C3',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: false, // default: true,
        label: '🌓', // default: ''
        autoMatchOsTheme: true // default: true
      }

      const darkmode = new Darkmode(options);
      darkmode.showWidget();

    </script>

</body>

</html>
{% endblock %}