{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
   
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1>Register</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="{{ form.username.id }}">Username</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <p class="error-message">{{ form.username.errors[0] }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id }}">Password</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
            <div class="form-group login-link">
                <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
